src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="initialize" doc:id="304b28bc-0558-4593-aebe-004ab8d04b8c" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="6d185fbd-aa8a-4c51-81b3-15b0f97f638a" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-variable value="#[attributes.queryParams.destination default 'SFO']" doc:name="destination" doc:id="69ed4dd8-a3af-48f8-ace3-9905083273c8" variableName="destination"/>
		<set-variable value="#[attributes.headers.'requester-id']" doc:name="requester-id" doc:id="b862cf0d-7449-40c0-bfe1-d4118276b68c" variableName="requester-id"/>
		<set-variable value="#[attributes.headers.date]" doc:name="date" doc:id="faa724ea-2fa0-4f8a-9f34-465d9515f152" variableName="flight-date-return"/>
		<http:request method="${american.op}" doc:name="GET /american/{destination}" doc:id="177a78dd-d43a-4c69-94e7-6af1b1554caa" config-ref="HTTP_Request_configuration" path="${american.path}/{destination}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"requester-id" : message.attributes.headers.'requester-id'
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"destination" : vars.destination
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"destination" : attributes.queryParams.destination
}]]]></http:query-params>
		</http:request>
		<set-variable value="#[payload]" doc:name="payload-GET" doc:id="05ff4f5c-30fa-4d71-b422-af82262196d4" variableName="payload-GET"/>
		<async doc:name="Async" doc:id="cd105ab0-1a94-4f3f-a119-de6af30cb602" >
			<http:request method="${local.op}" doc:name="POST /processData" doc:id="910f2a8c-d413-4d7e-892e-640130906727" path="${local.path}" config-ref="HTTP_Request_configuration1" />
		</async>
		<set-payload value="#[output application/json ---
{
    &quot;payload-GET&quot;: vars.'payload-GET',
	&quot;payload-PROCESS&quot;: payload,
    &quot;destination-process&quot;: vars.destination,
    &quot;requesterID-process&quot;: vars.'requester-id'
}]" doc:name="final summary" doc:id="68c44115-a04b-420b-8fe9-aa83f6d5c305" />
	</flow>
	<flow name="mockData" doc:id="578be7bc-ce05-493e-9385-ef388dbcc6b8" >
		<set-payload value='#[%dw 2.0
output application/json
---
[
        {
            "planeType": "Boeing 737",
            "code2": "1093",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-11",
            "fromAirport": "MUA",
            "price": 142,
            "airlineName": "American Airlines",
            "seatsAvailable": "1",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 777",
            "code2": "1994",
            "toAirport": "SFO",
            "takeOffDate": "2015-01-01",
            "fromAirport": "MUA",
            "price": 676,
            "airlineName": "American Airlines",
            "seatsAvailable": "none",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "2000",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-20",
            "fromAirport": "MUA",
            "price": 300,
            "airlineName": "American Airlines",
            "seatsAvailable": "30",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "3000",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-01",
            "fromAirport": "MUA",
            "price": 900,
            "airlineName": "American Airlines",
            "seatsAvailable": "none",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "4567",
            "toAirport": "SFO",
            "takeOffDate": "2015-01-20",
            "fromAirport": "MUA",
            "price": 456,
            "airlineName": "American Airlines",
            "seatsAvailable": "100",
            "code1": "rree"
        }
    ]]' doc:name="flights" doc:id="71c10e25-6deb-4850-9659-a1615d4e75ec" mimeType="application/json" />
	</flow>
	<flow name="processData" doc:id="c7379ac2-5182-4bd2-8475-cd7c520f8319" >
		<http:listener doc:name="POST" doc:id="ea92ce4d-b377-46fa-8d29-b9017826ee00" config-ref="HTTP_Listener_config" path="${american.path}" allowedMethods="POST"/>
		<ee:transform doc:name="summary payload" doc:id="2ea0ec2d-22c7-48d1-94aa-529b34372457" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload: message.payload as Array map ((object) ->
		{
			planeType: object.planeType,
			flightDate: object.takeOffDate,
			price: object.price
		}
	),
    destination: vars.destination,
    requesterID: vars.'requester-id',
    'flight-date-return': vars.'flight-date-return'
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="process data summary" doc:id="a14ca1a7-43ef-4479-b0d1-56d15a01c3a0" message="#[payload]"/>
	</flow>
</mule>
